# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
anaglyph/build/
anaglyph/.AUTHORS.sed
nui/bin/Intermediate/
nui/bin/test
nui/bin/viewer
nui/bin/
